
<div class="container bg-container">
	<section data-layout-fragment="content">
		<div class="container-fluid content">
			<div class="table-responsive">
				<table class="table table-round  table-hover tr-bordered" id="sysuserslogTable" data-row-id="id" data-order="[[ 0, &amp;quot;desc&amp;quot; ]]" data-th-attr="data-create-url=@{/_secure/sysuserslogs/create-form/}">
					<thead>
						<th data-th-text="#{label_sysuserslog_sysUser}" value="sysUser"/>
						<th data-th-text="#{label_sysuserslog_properties}" value="properties"/>
						<th data-th-text="#{label_sysuserslog_message}" value="message"/>
						<th data-th-text="#{label_sysuserslog_logType}" value="logType"/>
						<th data-th-text="#{label_sysuserslog_logDate}" value="logDate"/>
						<th data-th-text="#{label_tools}"/>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>