<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin-layout/admin-layout.html}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" data-th-remove="all"/>
</head>
<body>


<div layout:fragment="content" class="content">
    <div th:include="~{/fragments/BreadCrumb :: BreadCrumb(parentLink='_secure/video-galleries/' ,parentName ='videosManage' , ChildLink ='_secure/video-galleries/' , ChildName = 'videosList')}"
         class="sub-navbar sub-navbar__header-breadcrumbs"/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!--Top Bottons Bar-->
                 <div class="panel panel-default b-a-0  shadow-box">
                    <div class="panel-heading  bg-primary-i b-b-0 text-center">
                        <span class="text-white" th:text="#{video-galleries}"/>
                    </div>
                    <div class="panel-body jv-panel-body">

                        <a th:href="@{/_secure/video-galleries/create-form}"   class="btn btn-primary active  pull-right">
                            Yeni
                        </a>
                        <table id="dt" class=" table table-round dataTable" dir="ltr">

                            <thead class="jvHeader">
                            <th class="w-5"><b th:text="#{mainImageUrl}"/></th>
                            <th style="min-width: 300px"><b th:text="#{title}"/></th>
                            <th><b th:text="#{createdDate}"/></th>
                            <th><b th:text="#{show}"/></th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-layout-fragment="javascript">
    <script type="text/javascript" th:inline="javascript">
        var context = /*[[@{/}]]*/'';
        $(document).ready(function () {
            $.fn.dataTable.ext.errMode = 'none';
            var dt = $('#dt').DataTable({
                "bAutoWidth": false,
                'ajax': {'url': context + "_secure/video-galleries"},
                'columns': [
                    {
                        'data': 'mainImageUrl',
                        'orderable': false,
                        'searchable': false,
                        'render': function (data, type, full, meta) {
                            if (data){
                                var url = data.replace('download' , 'download-resize') + "?ratio=50";
                                return '<img class="image-zoom" src="'+url+'"></img>'
                            }

                        }
                    },
                    {'data': 'title'},
                    {'data': 'createdDate'},
                    {
                        'data': 'id',
                        'orderable': false,
                        'searchable': false,
                        'render': function (data, type, full, meta) {
                            if (data)
                                return '<a href="/_secure/video-galleries/'+data+'"><i class="fa fa-external-link"></i></a>'
                        }
                    }
                ]
            });

            $('#dt tbody').on('click', 'tr', function () {
                var id = $(this).data("id");
                window.location = '/_secure/video-galleries/' + id;
            });

        });
    </script>
</div>

</body>
</html>