<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org" class="footer footer--dark">
    <!-- ==============================================
        CONTACT
        =============================================== -->
    <section id="contact" class="add-padding border-top-color2">

        <div class="container text-center mb-4 mt-3">

            <div class="row">
                <div class="col-sm-6 col-md-5   scrollimation fade-up d1 pt-4  ">
                    <p class="footer-about justify text-left " th:text="#{footer-about}"/>
                </div>
                <!--=== Contact Form ===-->

                <div class="col-sm-6 scrollimation fade-left d3 pull-right">
                    <div class="add-comment-css white" dir="ltr">
                        <br/>
                        <ul class="flex-column">


                            <li class="mt-2">
                                <i class="fa fa-angle-right px-2" aria-hidden="true"></i>
                                <a href="http://www.google.ir" class=" white">Link1</a>
                            </li>

                            <li class="mt-2">
                                <i class="fa fa-angle-right px-2" aria-hidden="true"></i>
                                <a href="http://www.Google.com" class=" white">Link 2</a>
                            </li>

                            <li class="mt-2">
                                <i class="fa fa-angle-right px-2" aria-hidden="true"></i>
                                <a href="https://google.com" class=" white">Link3
                                    </a>
                            </li>
                            
                            <li class="mt-2">
                                <i class="fa fa-angle-right px-2" aria-hidden="true"></i>
                                <a href="/" class="white" >Link4 </a>
                            </li>

                            <li class="mt-2">
                                <i class="fa fa-angle-right px-2" aria-hidden="true"></i>
                                <a href="/" class=" white">Link5</a>
                            </li>

                            <li class="mt-2">
                                <i class="fa fa-angle-right px-2" aria-hidden="true"></i>
                                <a href="/" class="white">Link6</a>
                            </li>


                        </ul>

                    </div>

                </div><!-- End contact-form -->
            </div>

        </div>

    </section>

    <!-- ==============================================
        FOOTER
        =============================================== -->

    <div class="footer-round    ">

        <div class="center-item">
            <ul class="social-links  ">
                <div class=" socials socials&#45;&#45;large socials&#45;&#45;rounded mb-24">
                    <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                    <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                    <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                    <a href="#" class="social social-youtube hidden-us" aria-label="youtube"><i class="ui-youtube"></i></a>
                    <a href="#" class="social social-instagram hidden-us" aria-label="instagram"><i
                            class="ui-instagram"></i></a>

                </div>
            </ul>
        </div>
        <span class="copyright font-En ">© 2018 - Powered by </span>
        <a class="pl-2" target="_blank" href="http://jvpars.com/">JVPARS</a>


    </div>

    <div id="back-to-top">
        <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

    <br/>

</footer>




