<div th:fragment="singlePage"  xmlns:th="http://www.thymeleaf.org" >

   <!-- jv single page-->
    <div class="row">

        <div class="col-lg-12 blog__content my-4">
            <div class="content-box">
                <article class="entry ">

                    <div class="single-post__entry-header entry__header   ">
                        <div class="title-wrap--line3  " save_image_to_download="true">
                        <h1 class="single-post__entry-title" th:text="${content.title}" />
                        </div>
                        <div class="entry__meta-holder">
                            <ul class="entry__meta">
                                <li dir="ltr" class="entry__meta-author">
                                    <a href="#"  >
                                        <span dir="ltr" th:text="#{author}"/>
                                        <span dir="ltr" th:text="${content.sysUser?.fullName}"/>

                                        <span class="entry__meta-date2" th:text="${content.createdDate}" />
                                    </a>

                                </li>
                            </ul>

                            <ul class="entry__meta hidden-us">
                                <li class="entry__meta-views" th:alt-title="#{viewcounts}">
                                    <i class="ui-eye "></i>
                                    <span class="i-text-green" th:alt-title="#{viewcounts}" th:text="${content.viewCount}" />
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="single__img-holder  ">
                        <!--  resize ok img-->
                        <img th:src="@{|${#strings.replace(content.mainImage,'download','download-resize')+ '?ratio=800'} |}" alt="" class=" "/>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="entry__excerpt " th:utext="${content.bodyText}" />
                        </div>
                    </div>



                </article>
            </div>
        </div>

    </div>
</div>