<th:block th:fragment="persianDatepicker" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="exampleModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:300px;">


                <div class="c-datepicker c-datepicker--open">


                    <div class="c-datepicker__header">
                        <div class="c-datepicker__header-day">
                            <span class="js-day" id="week-of-day">Saturday</span>
                        </div>
                        <div class="c-datepicker__header-date">
                            <span class="c-datepicker__header-date__month js-date-month"
                                  id="big-month-name">Nov 2018</span>
                            <span class="c-datepicker__header-date__day js-date-day" id="big-day-name">10th</span>

                        </div>
                    </div>

                    <div class="c-datepicker__calendar" data-rome-id="1">
                        <div class="c-datepicker__calendar">
                            <div class="c-datepicker__date">
                                <div class="c-datepicker__month">
                                    <button class="c-datepicker__back" id="month-next"  type="button"><i class="fa fa-angle-left"></i></button>
                                    <button class="c-datepicker__next" id="month-previous"  type="button"><i class="fa fa-angle-right"></i></button>
                                    <div class="rd-month-label" id="month-title">November 2018</div>


                                    <table class="c-datepicker__days tr-bordered" id="month-day-table">
                                        <thead class="c-datepicker__days-head">
                                        <tr class="c-datepicker__days-row">
                                            <td class="c-datepicker__day-head week-name">شنبه</td>
                                            <td class="c-datepicker__day-head week-name">یکشنبه</td>
                                            <td class="c-datepicker__day-head week-name">دوشنبه</td>
                                            <td class="c-datepicker__day-head week-name">سه شنبه</td>
                                            <td class="c-datepicker__day-head week-name">چهارشنبه</td>
                                            <td class=" c-datepicker__day-head week-name">پنجشنبه</td>
                                            <td class="c-datepicker__day-head week-name">جمعه</td>
                                        </tr>
                                        </thead>
                                        <tbody class="c-datepicker__days-body" data-rome-offset="0" id="month-days">

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</th:block>