<!DOCTYPE html><html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                     layout:decorate="~{/admin-layout/admin-layout.html}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" data-th-remove="all"/>
</head>
<body>


<div layout:fragment="content" class="content">
    <div th:include="~{/fragments/BreadCrumb :: BreadCrumb(parentLink='_secure/bulletins/' ,parentName ='manageBulletin' , ChildLink ='#' , ChildName = 'noticeList')}"
         class="sub-navbar sub-navbar__header-breadcrumbs"/>
    <div class="container">
        <div class="row">


            <div class="col-lg-12 ">

                <!--Top Bottons Bar-->


                <div class="panel panel-default b-a-0  shadow-box">

                    <div class="panel-heading  bg-primary-i b-b-0 text-center text-center">
                        <span class="text-white " th:text="#{noticeList}"/>

                    </div>
                    <div class="panel-body   jv-panel-body">
                        <a th:href="@{/_secure/bulletins/create-form}"   class="btn btn-primary active  pull-right">
                            Yeni
                        </a>
                        <table id="dt" class=" table table-round text-center tr-bordered table-hover ">
                            <!--        <thead class="jvHeader">
                                    <tr class="jvHeader">
                                        <th  colspan="4">
                                            <b style="line-height: 34px" th:text="#{boxList}" class="text-center center-block"/>
                                        </th>
                                    </tr>
                                    </thead>-->
                            <thead style="text-align: center">
                            <tr class="jvHeader">
                                <th width="55%">
                                    <b th:text="#{title}"/>
                                </th>
                                <th width="20%">
                                    <b th:text="#{sendDate}"/>
                                </th>
                                <th width="20%">
                                    <b th:text="#{expirationDate}"/>
                                </th>
                                <th width="5%">
                                    <b>#</b>
                                </th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-layout-fragment="javascript">
    <script type="text/javascript" th:inline="javascript">
        var context = /*[[@{/}]]*/'';
        $(document).ready(function () {
            $.fn.dataTable.ext.errMode = 'none';
            var dt = $('#dt').DataTable({
                "bAutoWidth": false,
                'ajax': {'url': context + "_secure/bulletins"},
                'columns': [
                    {'data': 'title'},
                    {'data': 'sendDate'},
                    {'data': 'expirationDate'},
                    {
                        'data': 'id',
                        'orderable': false,
                        'searchable': false,
                        'render': function (data, type, full, meta) {
                            if (data)
                                return '<a href="'+data+'"><i class="fa fa-external-link fa-flip-horizontal"> </i> </a>'
                        }
                    }
                ]
            });
        });
    </script>
</div>

</body>
</html>